$body-bg: #333333;
$body-color: #ffffff;
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$grey:      #eef0f5;
//banner : #233c7b
//primary : #3867e0
$theme-colors: (
  "primary": #233c7b,
  "secondary" : #3867e0,
  "white": #f5f5f5,
  "success":    $green,
  "info":       $cyan,
  "warning":    $yellow,
  "danger":     $red,
  "light":      #f5f5f5,
  "dark":       #333333,
  "black":      #000,
  "grey" :      $grey,
);

// Bootstrap and its default variables
@import "./assets/bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext";
 * {
    font-family: 'Lato';
 }

 h1 {
    font-weight: 600;
 }

.display-1, .display-2, .display-3, .display-4 {
    font-weight: 600;
}

.wrap {
    max-width:1380px;
    margin:0 auto;
}

.container {
    padding:80px 0px;
}

.font-bold {
    font-weight: 600;
}

.font-bold-900 {
    font-weight:900;
}

.banner .row {
    height:100vh;
}

.banner .row {    
    background-repeat: no-repeat;
}

.dropdown-menu {
    background:rgba(0,0,0,0.5);
}

.dropdown-menu * {
    color:#ffffff
}

.nav-item.dropdown:hover > .dropdown-menu, .nav-item.dropdown:focus > .dropdown-menu {
    background:rgba(0,0,0,0.5);
    display:block;    
}

.dropdown-menu .dropdown-menu {
    position: absolute;    
    left: 160px;
    top: 0px;

    @media screen and (max-width: 992px) {
        position:static;
    }
}

section {
    padding:80px 10px;
}

.section-title h2::after {
    content: "";
    width: 300px;
    height: 7px;
    border-radius: 2px;
    display: block;
    position: initial;
    background: #ddd;
    margin: 10px auto;
}

.card.bg-black {
    box-shadow : 0 0px 10px 0 rgb(200 200 200 / 50%); 
}

.card-content .profile {
    width:150px;
    margin:auto;
    margin-bottom: 10px;
}

.our-products .icon {
    padding:30px 0px;
    width:100%;
    height:200px;
}

.owl-carousel.team .owl-item img.social-icon {
    width:30px;
    display:inline;
    margin:5px;
}